.sponsor_container {
  margin: 20px;
  padding: 20px;
  border: 2px solid rgba(225, 228, 231, 0.9);
  border-radius: 8px;
  @media screen and (max-width: 768px){
    margin: 0;
    border-radius: 0;
  }
  .sponsor {
    color: rgb(173, 181, 189);
    margin-bottom: 10px;
  }
  .sponsor_inner {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
    .sponsor_img {
      width: 100%;
      img {
        width: 27vw;
        height: 15vw;
        @media screen and (max-width: 768px){
          display: block;
          width: 80vw;
          height: 50vw;
          margin: 0 auto;
        }
      }
    }
    .ads_content {
      display: flex;
      margin-left: 50px;
      flex-direction: column;
      min-width: 0;
      white-space: nowrap;
      @media screen and (max-width: 768px){
        margin: 0;
      }
      
      h2 {
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
