.sponsor_container {
  background-color: gold;
  margin: 20px;
  padding: 10px; 
  img {
    width: 310px;
    height: 179px;
  }
  .sponsor_inner {
    display: flex;
  }
  h2 {
    height: 30px;
    overflow: hidden;
  }
}
