.alignbtn_container {
  display: flex;
  .wrapper {
    position: relative;
    margin: 10px;
    .asc_btn, .desc_btn {
      display: none;
      position: relative;
    }
    .customCheck {
      // position: absolute;
      display: inline-block;
      margin-right: 5px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: rgb(225, 228, 231);
      & :after {
        content:"";
        position: inline-block;
        display: none;
      }
    }
  }
  & :hover input ~ .customCheck{
    background-color: gray;
  }
  & :hover input:checked ~ .customCheck {
    background-color: greenyellow;
  }
  & :checked ~ .customCheck {
    background-color: rgb(0, 200, 84);
  }
}
