.comment_container {
  border: 3px solid rgba(225, 228, 231, 0.8);
  border-radius: 9px;
  margin: 20px 50px;
  padding: 20px;
  div {
    color: rgba(142, 147, 152, 1);
    border-bottom: 2px solid rgba(225, 228, 231, 0.8);
    padding-bottom: 10px;
  }
  span {
    color:rgba(142, 147, 152, 0.7);
  }
}