.detail_container {
  border: 3px solid rgba(8, 200, 85, 0.6);
  border-radius: 9px;
  margin: 20px 50px;
  padding: 20px;
  @media screen and (max-width: 768px){
    margin: 0 20px;
    margin-bottom: 30px;
    padding: 0 0 20px 0;
    border-radius: 0;
    border: 2px solid rgba(8, 200, 85, 0.6);
    border-left: none;
    border-right: none;
  }
  span {
    color:rgba(142, 147, 152, 0.7);
    @media screen and (max-width: 768px){
      font-size: 13px;
    }
  }
}