.btn_filter {
  background-color: rgb(255, 255, 255);
  color: rgb(173, 181, 189);
  width: 5vw;
  height: 30px;
  border: 1px solid rgb(173, 181, 189);
  border-radius: 5px;
  @media screen and (max-width: 768px){
    width: 13vw;
    height: 30px;
  }
}