.container {
  display: flex;
  .nav_container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 20px;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  .content_container {
    flex-grow: 6;
    width: 60%;
    .option_container {
      display: flex;
      margin: 20px;
      justify-content: space-between;
      @media screen and (max-width: 768px){
        margin: 20px 10px;
      }
    }
  }
}